<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trading With Trends</title>
</head>
<body>
    <div class="wrapper">
        <h1>Trading with Trends</h1>
    </div>
</body>
</html>
