let monitorLive = {
    tickers: {
        'BTCUSDT': {quantity: 0.001},
        'ETHUSDT': {quantity: 0.01}
    },
    interval: '1m',

    notifications: {
        buy: true,
        sell: true,
        profit: true,
        totalProfit: true
    }
};

module.exports = monitorLive;