module.exports = {
    tickers: {
        'ADABTC': {quantity: 40},
        'ETHBTC': {quantity: 0.02}
    },
    interval: '1m',

    notifications: {
        buy: true,
        sell: true,
        profit: true,
        totalProfit: true
    }
};
