# Binance Api Configuration
BINANCE_API_KEY=example-api-key
BINANCE_API_SECRET=example-api-secret

# Mailer Configuration
EMAIL_TITLE=Trading With Trends
EMAIL_ADDRESS=tradingwithtrends@gmail.com
AUTH_CLIENT_ID=example-client-id
AUTH_CLIENT_SECRET=example-client-secret
AUTH_CLIENT_REFRESH=example-client-refresh