module.exports = {
    // Binance Api Configuration
    BINANCE_API_KEY: 'example-api-key',
    BINANCE_API_SECRET: 'example-api-secret',
    
    // Mailer Api Configuration
    MAIL_AUTH_CLIENT_USER: 'tradingwithtrends@gmail.com',
    MAIL_AUTH_CLIENT_ID: 'example-client-id',
    MAIL_AUTH_CLIENT_SECRET: 'example-client-secret',
    MAIL_AUTH_CLIENT_REFRESH: 'example-client-refresh',

    // Mailer Configuration
    NOTIFICATION_EMAIL_ADDRESS: 'username@host.com'
};
